<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BrickStreetApiHttps" value="https://example.com/brickstapi"/>
    <add key="BrickStreetApiUser" value="example_api"/>
    <add key="BrickStreetApiPass" value="Example.Password"/>
    <add key="BrickStreetApiDept" value="Example.Dept"/>
  </appSettings>
</configuration>