<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BrickStreetApiHttps" value="https://example.com/brickstapi"/>
    <add key="BrickStreetApiUser" value="apitest_user1"/>
    <add key="BrickStreetApiPass" value="APITEST.2014"/>
    <add key="BrickStreetApiDept" value="1143"/>
    <add key="AttrName" value=""/>
    <add key="AttrValue" value=""/>
    <add key="PreferenceName" value=""/>
    <add key="AltCustId" value=""/>
    <add key="EventName" value=""/>
    <add key="TokenName" value=""/>
    <add key="TokenValue" value=""/>
  </appSettings>
</configuration>